@using bendevarimproje.Models
@model bendevarimproje.Models.kullanicilar
@{
    ViewBag.Title = "Şifremi Unuttum";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Content/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/main.css">
    <!--===============================================================================================-->
</head>
<body>
    @using (Html.BeginForm("ResetSifre", "Kullanici", FormMethod.Post))
    {
        @Html.AntiForgeryToken()


        <div class="limiter">

            <div class="container-login100" style="background-color:white;">

    <div class="wrap-login100" style=" border: 3px solid #667292; box-shadow: 1px 1px 2px;">
        <div class="login100-form-title" style="background-color: #667292;">
            <h6 style="color:white; font-weight:bold;">Ben de Varım</h6><h6 style="color:white; font-weight:bold;">. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . </h6><br />
            <span class="login100-form-title-1">
                Şİfremİ Unuttum
            </span>
        </div>

        <form class="login100-form validate-form">
            <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
                <br />
                <h5 style="color: #878f99">Mail Adresi</h5>
                <input class="input100" type="text" name="mail" placeholder="Mail adresinizi giriniz" required>
                <span class="focus-input100"></span>
            </div>


            <div class="container-login100-form-btn" style="padding-left:5px;">
                <input type="submit" class="btn btn-outline-secondary btn-xl" value="Mail Gönder" />
                <h1 style="visibility:hidden;">ı</h1>
            </div>
            <h1 style="visibility:hidden;">d</h1>



        </form>
    </div>
</div>
        </div>
    }
    <!--===============================================================================================-->
    <script src="~/Content/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/Content/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/js/main.js"></script>

</body>
</html>

